In [200]:
%%capture
%run 'initialization.ipynb'

In [202]:
day = aapl_days[0].loc[:]
day['Ticker'] = 'AAPL'
day

                Hour      Open      High       Low     Close  Volume Ticker
Day
2021-08-02  09:00:00  146.3607  146.4606  146.3607  146.4606    6475   AAPL
2021-08-02  09:01:00  146.4506  146.5404  146.4007  146.5005   20827   AAPL
2021-08-02  09:02:00  146.5005  146.5305  146.4805  146.5305    4227   AAPL
2021-08-02  09:03:00  146.5404  146.5604  146.5105  146.5205    3198   AAPL
2021-08-02  09:04:00  146.5205  146.5604  146.5205  146.5604    3503   AAPL
...              ...       ...       ...       ...       ...     ...    ...
2021-08-02  15:55:00  145.3772  145.3822  145.2873  145.2923  216938   AAPL
2021-08-02  15:56:00  145.2923  145.3273  145.2424  145.2523  237200   AAPL
2021-08-02  15:57:00  145.2424  145.3123  145.2324  145.3122  259082   AAPL
2021-08-02  15:58:00  145.3023  145.3023  145.2424  145.2424  192529   AAPL
2021-08-02  15:59:00  145.2474  145.3323  145.1525  145.3023  648594   AAPL

[420 rows x 7 columns]

In [206]:
day.iloc[:1,:].High

Day
2021-08-02    146.4606
Name: High, dtype: float64

In [ ]:
for i in day.iloc:
    buy(5, i.Ticker, i.Open)