In [12]:
%%capture
%run 'initialization.ipynb'

In [28]:
from ib_insync import *
util.startLoop()  # uncomment this line when in a notebook

ib = IB()
ib.connect('127.0.0.1', 7497, clientId=1)

contract = Forex('EURUSD')
bars = ib.reqHistoricalData(
    contract, endDateTime='', durationStr='30 D',
    barSizeSetting='1 hour', whatToShow='MIDPOINT', useRTH=True)

# convert to pandas dataframe:
df = util.df(bars)
print(df)

ModuleNotFoundError: No module named 'ib_insync'

In [25]:
def volatility():
    return 0


aapl_days[0]

            Day      Hour      Open      High       Low     Close  Volume
0    2021-08-02  09:00:00  146.3607  146.4606  146.3607  146.4606    6475
1    2021-08-02  09:01:00  146.4506  146.5404  146.4007  146.5005   20827
2    2021-08-02  09:02:00  146.5005  146.5305  146.4805  146.5305    4227
3    2021-08-02  09:03:00  146.5404  146.5604  146.5105  146.5205    3198
4    2021-08-02  09:04:00  146.5205  146.5604  146.5205  146.5604    3503
..          ...       ...       ...       ...       ...       ...     ...
415  2021-08-02  15:55:00  145.3772  145.3822  145.2873  145.2923  216938
416  2021-08-02  15:56:00  145.2923  145.3273  145.2424  145.2523  237200
417  2021-08-02  15:57:00  145.2424  145.3123  145.2324  145.3122  259082
418  2021-08-02  15:58:00  145.3023  145.3023  145.2424  145.2424  192529
419  2021-08-02  15:59:00  145.2474  145.3323  145.1525  145.3023  648594

[420 rows x 7 columns]

In [27]:
((abs(aapl['Open'] - aapl['Close']) / aapl['Close']) * 100.0)

pandas.core.series.Series